@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --title-decor-text-color: #353430;
    --cover-title-color: #FFC2E6;
    --cover-image: url(../images/cover-image-light.png);
    --button-hover-border-color: #ADA4A6;
  }

  .rec-decoration-element {
    display: none;
  }

  .content-block__title {
    color: var(--text-color, #353430);
  }

  .header {
    color: var(--text-color, #353430);
  }

  .footer {
    color: var(--text-color, #353430);
  }

}

:root.theme-light {
    --text-color: #353430;
    --bg-color: #FFF1F7;
    --title-decor-text-color: #353430;
    --accent-color: #FF8DCB;
    --cover-title-color: #FFC2E6;
    --cover-image: url(../images/cover-image-light.png);
    --button-hover-border-color: #ADA4A6;
}

.theme-light .rec-decoration-element {
  display: none;
}

.theme-light .header {
  color: var(--text-color, #353430);
}

.theme-light .footer {
  color: var(--text-color, #353430);
}

.theme-light .content-block__title {
  color: var(--text-color, #353430);
}